
@{
    ViewBag.Title = "Users";
}

<style>
    table.dataTable {
        border-collapse: collapse !important;
    }
</style>

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="fa fa-users bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Users List</h5>
                    <span>Users list goes here</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Dashboard","Admin")"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Admin Module</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                @*<li class="first-opt">*@
                                <i class="feather icon-chevron-left open-card-option"></i></li>
                                <li><i class="feather icon-maximize full-card"></i></li>
                                <li><i class="feather icon-minus minimize-card"></i></li>
                                <li><i class="feather icon-refresh-cw reload-card" id="tblUsers-refresh"></i></li>
                                @*<li><i class="feather icon-trash close-card"></i></li>*@
                                <li><i class="feather icon-chevron-left open-card-option"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="dt-responsive table-responsive">
                            <table id="tblUsers" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Nick Name</th>
                                        <th>Discount(%)</th>
                                        <th>Referral Code</th>
                                        <th>Referred By</th>
                                        <th>Credits</th>
                                        <th>Signup Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Nick Name</th>
                                        <th>Discount(%)</th>
                                        <th>Referral Code</th>
                                        <th>Referred By</th>
                                        <th>Credits</th>
                                        <th>Signup Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" value="" name="Userid" id="Userid" />
                        <input type="hidden" value="" name="StatusId" id="statusId" />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Credits</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       readonly="readonly"
                                       required="required"
                                       name="CreditScore"
                                       id="CreditScore"
                                       onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Discount <b>(%)</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       required="required"
                                       name="DiscountPercentage"
                                       id="discountPercentage"
                                       maxlength="3"
                                       onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nick Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       name="NickName"
                                       id="nickName"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="">
                            <div class="alert alert-danger background-danger" id="errorDiv" style="display:none">
                                <strong>Error! </strong><span id="errorText"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-primary m-b-10 btn-sm' onclick="updateUserDetails()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/lead-app-content/js/sweetalert.min.js"></script>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {
            loadDataTable();
        });
        function updateUserDetails() {
            var discountVal = $('#discountPercentage').val();
            var creditScore = parseInt($('#CreditScore').val());
            var nickName = $('#nickName').val();
            if ($('#CreditScore').val().length == 0) {
                $('#errorText').html("Credit Score is required.")
                $('#errorDiv').show();
                return false;
            }
            if ($('#CreditScore').is('[readonly]') == false && creditScore == 0) {
                $('#errorText').html("Credit Score should be greater than 0")
                $('#errorDiv').show();
                return false;
            }
            if (discountVal.length == 0) {
                $('#errorText').html("Discount (%) is required.")
                $('#errorDiv').show();
                return false;
            }
            if (parseInt(discountVal) > 100) {
                $('#errorText').html("Discount (%) cannot be more than 100%.")
                $('#errorDiv').show();
                return false;
            }
            updateUserStatus($('#Userid').val(), parseInt($('#CreditScore').val()), $('#statusId').val(), parseInt(discountVal), nickName)

        }
        //Edit a User
        $(document).on("click", "#tblUsers tbody tr td button.btnedit", function () {
            var id = $(this).data('id');
            var score = $(this).data('score');
            var statusId = $(this).data('status');
            var nickName = $(this).data('nick');
            var discountPercentage = $(this).data('discountpercentage');
            $('#CreditScore').val(score);
            $('#Userid').val(id);
            $('#statusId').val(statusId);
            $('#discountPercentage').val(discountPercentage);
            $('#nickName').val(nickName);
            $('.modal-title').html("Edit User Details");
            $('#CreditScore').attr('readonly', true);
            $('#Modal').modal('show');
        });

        //Approves a User
        $(document).on("click", "#tblUsers tbody tr td button.btnapprove", function () {
            var id = $(this).data('id');
            var score = $(this).data('score');
            var statusId = 2;
            var discountPercentage = $(this).data('discountpercentage');
            var nickName = $(this).data('nick');
            $('#CreditScore').val(score);
            $('#Userid').val(id);
            $('#statusId').val(statusId);
            $('#discountPercentage').val(discountPercentage);
            $('#nickName').val(nickName);
            $('.modal-title').html("Approve User");
            $('#CreditScore').attr('readonly', false);
            $('#Modal').modal('show');
        });

        //Makes User Inactive
        $(document).on("click", "#tblUsers tbody tr td button.btninactivate", function () {
            var id = $(this).data('id');
            var score = $(this).data('score');
            var discountPercentage = $(this).data('discountpercentage');
            var nickName = $(this).data('nick');
            swal({
                title: "Are you sure?", text: "You want to Inactivate this user",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, Inactivate !",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                updateUserStatus(id, score, 3, discountPercentage, nickName);
            })

        });

        //Activate Inactive Users
        $(document).on("click", "#tblUsers tbody tr td button.btnactivate", function () {
            var id = $(this).data('id');
            var score = $(this).data('score');
            var discountPercentage = $(this).data('discountpercentage');
            var nickName = $(this).data('nick');
            swal({
                title: "Are you sure?", text: "You want to Activate this user",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, Activate !",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                updateUserStatus(id, score, 2, discountPercentage, nickName);
            })

        });
        function updateUserStatus(id, score, statusId, discountPercentage, nickName) {
            $.ajax({
                url: '@Url.Action("UpdateUserStatus", "Admin")',
                type: 'post',
                datatype: "json",
                data: {
                    userId: id,
                    creditScore: score,
                    statusId: statusId,
                    discountPercentage: discountPercentage,
                    nickName: nickName
                },
                success: function (data) {
                    loadDataTable();
                    $('#Modal').modal('hide');
                    swal("Done!", "User Details Updated Successfully.", "success");
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        }
        $('#tblUsers-refresh').click(function (e) {
            loadDataTable();
        });
        function loadDataTable() {
            $('#tblUsers').DataTable({
                'responsive': false,
                'autoWidth': true,
                "bDestroy": true,
                "iDisplayLength": 10,
                "ajax": "/Admin/UsersGrid",
                "columns": [
                    { "data": "SNo" },
                    { "data": "Name" },
                    { "data": "Email" },
                    { "data": "NickName" },
                    { "data": "DiscountPercentage" },
                    { "data": "ReferalCode" },
                    { "data": "RefedByUserName" },
                    { "data": "CreditScoreStr" },
                    { "data": "CreatedAt" },
                    { "data": "Status" },
                    { "data": "EditBtn" }
                ],
            });
        }
    </script>
}